{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">

    {% if user.is_authenticated %}

    <h1> Hello World</h1>

    {% else %}
<div class="card">
    <h1 class="card-header">Login</h1>
    <div class="card-body">
    <form action="{% url 'home'%}" method="post">
        {% csrf_token %}

        <form>
            <br>
            <div class="mb-3">
            <input type="text" class="form-control" name="username", placeholder="Enter your username" required>
            </div>
            <div class="mb-3">
            
            <input type="password" class="form-control" name="password", placeholder="Enter your password" required>
            </div>
            <br>
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>

    </form>
    </div>
</div>

{% endif %}
{% endblock %}