{% extends 'base.html' %}

{% block content %}

<div class="card">
    <h5 class="card-header">
    {{ user_record.first_name }} {{ user_record.last_name }}
    </h5>
    <div class="card-body">
    
        <p class="card-text"><strong>ID: </strong>{{ user_record.id}}</p>
        <p class="card-text"><strong>Email: </strong>{{ user_record.email }}</p>
        <p class="card-text"><strong>Phone: </strong>{{ user_record.phone  }}</p>
        <p class="card-text"><strong>Address: </strong>{{ user_record.address }}</p>
        <p class="card-text"><strong>City: </strong>{{ user_record.city }}</p>
        <p class="card-text"><strong>State: </strong>{{ user_record.state }}</p>
        <p class="card-text"><strong>Zipcode: </strong>{{ user_record.zipcode }}</p>
        <p class="card-text"><strong>Creation Date: </strong>{{ user_record.created_at }}</p>

        
    </div>
   
  </div>
  <br><br>
  <a href="{% url 'home' %}" class="btn btn-primary">Back</a>
  <a href="{% url 'home' %}" class="btn btn-warning">update</a>
  <a href="{% url 'delete_record' user_record.id %}" class="btn btn-danger">Delete</a>
{% endblock %}